force-app/main/default/flows/Trivial_Customer_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_External_Customer</name>
        <label>Get External Customer</label>
        <locationX>453</locationX>
        <locationY>141</locationY>
        <actionName>TrivialCustomerService_getCustomer__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Customer_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>custId</name>
            <value>
                <elementReference>External_Customer_Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CustomerCity</assignToReference>
            <name>Customer_city_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CustomerCountry</assignToReference>
            <name>Customer_country_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CustomerEmail</assignToReference>
            <name>Customer_email_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CustomerFirstName</assignToReference>
            <name>Customer_firstName_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CustomerLastName</assignToReference>
            <name>Customer_lastName_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CustomerPhone</assignToReference>
            <name>Customer_phone_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CustomerPostalCode</assignToReference>
            <name>Customer_postal_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CustomerState</assignToReference>
            <name>Customer_state_200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CustomerStreet</assignToReference>
            <name>Customer_street_200</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>Trivial Customer Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trivial Customer Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Customer_Screen</name>
        <label>Display Customer Screen</label>
        <locationX>631</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>External_Customer_Data</name>
            <fieldText>&lt;p&gt;{!CustomerFirstName} {!CustomerLastName}&lt;/p&gt;&lt;p&gt;{!CustomerStreet}&lt;/p&gt;&lt;p&gt;{!CustomerCity}, {!CustomerState} {!CustomerPostalCode}&lt;/p&gt;&lt;p&gt;{!CustomerCountry}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!CustomerEmail}&lt;/p&gt;&lt;p&gt;{!CustomerPhone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>534</locationX>
        <locationY>400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;There was an issue:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_External_Customer_Screen</name>
        <label>Get External Customer Screen</label>
        <locationX>234</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_External_Customer</targetReference>
        </connector>
        <fields>
            <name>External_Customer_Id</name>
            <dataType>String</dataType>
            <fieldText>External Customer Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_External_Customer_Screen</startElementReference>
    <status>Draft</status>
    <variables>
        <name>CustomerCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
